/* general rules */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #28bd81;
    --secondary-color: #2acaca;
    --dark-color: #001a1a;
    --background-color: #e6fff5;
    --main-gradient: linear-gradient(90deg, var(--main-color), var(--secondary-color));
    --main-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
    --main-transition: .4s;
}

body {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-color: var(--background-color);
    color: var(--dark-color);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: capitalize;
}

.container {
    width: 950px;
    margin: 0 auto;
}

/* dynamic drop down */
.menu-items,
.form-container {
    opacity: 0;
    pointer-events: none;
    margin-top: -10px;
    transition: var(--main-transition);
}

.drop-menu:hover .menu-items,
.active-menu,
.display-form {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
}


/* main rules */


/* -------------------- header start -------------------- */
header {
    background-color: #fff;
    box-shadow: var(--main-box-shadow);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
}

.drop-menu {
    position: relative;
    
}

.drop-menu i {
    font-size: 1.8em;
    transition: var(--main-transition);
    cursor: pointer;
}

.menu-items {
    position: absolute;
    right: 0;
    top: 2em;
    z-index: 1;
    font-size: 1.3em;
    width: 150px;
    background-color: #001a1a;
    border: 1px solid var(--dark-color);
    border-bottom: none;
    box-shadow: var(--main-box-shadow);
}

.menu-items::before {
    content: "";
    position: absolute;
    right: 0;
    top: -11px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--dark-color);
}

.menu-items li {
    list-style-type: none;
    padding: .5em;
    background-color: #fff;
    border-bottom: 1.5px solid var(--dark-color);
    cursor: pointer;
    transition: var(--main-transition);
}

.menu-items li:hover, .active-item {
    background: var(--main-gradient);
    color: #fff;
    padding-left: 1em;
}

.drop-menu:hover i, .active-menu-icon {
    transform: rotate(90deg);
}
/* -------------------- header end -------------------- */

/* -------------------- main form start -------------------- */
.form-button {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 3;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--background-color);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
}

.form-button:hover, .form-button-clicked {
    transform: scale(1.15, 1.15) rotate(-90deg);
    background-color: var(--main-color);
    color: #fff;
}

.form-button-clicked {
    transform: rotate(45deg) scale(1.15, 1.15) !important;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    color: #1c8058;
}

.new-book {
    position: fixed;
    z-index: 4;
    width: 400px;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 10px;
}

.field *{
    display: block;
    margin-bottom: .3em;
    font-size: 1.1rem;
}

.field + .field {
    margin-top: 1em;
}

.field input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-color);
}

/* hide arrows for number filed */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#new-category,
#book-category {
    display: flex;
    justify-content: center;
    border: none;
    margin: 1.5em 0;
}

.radio {
    margin: 1em 0;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--main-box-shadow);
}

.radio-input {
    display: none;
}

.radio-label {
    padding: .4em .8em;
    background-color: #1c8058;
    color: #fff;
    cursor: pointer;
    transition: var(--main-transition);
}

.radio-label:not(:last-of-type) {
    border-right: 1px solid #1f5740;
}

.radio-input:checked + .radio-label {
    background-color: #1f5740;
}

.new-buttons {
    width: fit-content;
    margin-left:auto;
}

.new-btn {
    padding: .5em .8em;
    margin-left: 1em;
    border-radius: 12px;
    border: 1px solid #1c8058;
    color: #1c8058;
    transition: var(--main-transition);
}

.new-btn:hover {
    background-color: #1c8058;
    color: #fff;
}

.cancel {
    border-color: #999;
    color: #999;
}

.cancel:hover {
    background-color: #999;
    color: #fff;
}

.delete {
    color: #df2e2e;
    border-color: #df2e2e;
}

.delete:hover {
    background-color: #df2e2e;
    color: #fff;
}
/* -------------------- main form end -------------------- */

/* -------------------- main library start -------------------- */
.category {
    margin: 1.5em 0;
    perspective: 1000px;
    transition: var(--main-transition);
}

.category-hide {
    transform: translateY(30vh);
    opacity: 0;
    height: 0;
    pointer-events: none;
    position: absolute;
}

.category-title {
    padding: .5em 0;
    margin: .8em 0;
    border-bottom: 1px solid var(--main-color)
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

/* book rules */
.book {
    width: 100%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.book img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.edit-book {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-gradient);
    color: #f7f7f7;
    border-radius: 15px;
    text-align: center;
    backface-visibility: hidden;
    overflow: hidden;
}

.front {
    z-index: -2;
}

.front img {
    filter: grayscale(20%) blur(1px);
}

.front .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    transition: var(--main-transition);
}

.front .info > *+* {
    margin-top: .5em;
}

.front:hover .info {
    background-color: rgba(0, 0, 0, .4);
}

.show-more {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1em;
}

.show-more button {
    width: 35px;
    height: 35px;
    margin-bottom: .5em;
    font-size: 1rem;
    border-radius: 50%;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    transition: var(--main-transition);
}

.show-more button:hover {
    background-color: #f7f7f7;
    color: var(--main-color);
    transform: rotate(90deg) scale(1.2, 1.2);
}

.back {
    z-index: -3;
    transform: rotateY(180deg);
}

.back img {
    filter: grayscale(60%) blur(3px);
}

.book-form {
    padding: 1.5em 1em;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.book-form .field > * {
    display: inline;
}

.book-form .field {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.book-form .field input {
    width: 50%;
    background-color: transparent;
    border-color: #f7f7f7;
    overflow: hidden;
    color: #f7f7f7;
    text-align: center;
}

.book-form .new-buttons {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.category-btns {
    margin-top: 2em;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--main-box-shadow);
}

.category-btn {
    font-size: 1em;
    padding: .4em .8em;
    background-color: #1c8058;
    color: #fff;
    transition: var(--main-transition);
}

.category-btn:not(:last-of-type) {
    border-right: 1px solid #1f5740;
}

.active-category-btn {
    background-color: #1f5740;
}

.new-buttons [data-id="save"] {
    border-color: white;
    color: white;
}

.new-buttons [data-id="save"]:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #fff;
}

/* -------------------- main library end -------------------- */

/* -------------------- responsive rules -------------------- */
@media (max-width: 1000px) {
    .container {
        width: 800px;
    }

    .books-container .book {
        height: 350px;
    }

    .book-form .field{
        font-size: .8em;
    }

    .book-form .new-buttons *{
        font-size: .8em;
    }
}

@media (max-width: 900px) {
    .container {
        width: 700px;
    }

    .category .books-container {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .books-container .book {
        height: 400px;
    }
}

@media (max-width: 750px) {
    .container {
        width: 500px;
    }

    .books-container .book {
        height: 300px;
    }

    .book-form * {
        font-size: .9em;
    }
}

@media (max-width: 550px) {
    .container {
        width: calc(100vw - 3em);
        margin: 0 1.5em;
    }

    .category .books-container {
        display: block;
    }

    .books-container .book {
        width: 300px;
        height: 400px;
        margin: 1em auto;
    }

    .form-container .new-book {
        width: 100vw;
    }
}

@media (max-width: 350px) {
    .books-container .book {
        width: 100%;
        height: 330px;
    }
}
